
.inheritance, .inheritedMembers {
	display: none;
}

article span:nth-of-type(2n + 1).small.pull-right {
	display: none;
}

#_content > h1 {
	font-size: 18px;
	line-height: 1rem;
}
#_content > h3 {
	margin-top: 50px;
	margin-left: -0.66em;
	padding: 1em 1.5em;
	color: #fff;
	background: #333;
	border-radius: 2px;
}
#_content > h4 {
	margin-top: 60px;
}
#_content > h6 {
	display: none;
}

.article {
	margin-top: 30px;
}
