* text=auto

*.bat text encoding=cp932 diff=sjis eol=crlf
*.cmd text encoding=cp932 diff=sjis eol=crlf
*.cs text encoding=utf8 diff=csharp eol=crlf
*.html text encoding=utf8
*.json text encoding=utf8
*.yml text encoding=utf8
*.md text encoding=utf8
*.meta text encoding=utf8 eol=lf
*.png binary
*.jpg binary
*.wav binary
*.mp3 binary
